input[type='checkbox'] {
  margin-right: 10px;
}

ul {
  list-style: none;
}

img {
  float: right;
  margin-right: 50px;
}

#add-to-filters {
  padding-right: 5px;
  margin-right: 8px;
  font-size: 1.3em;
  float: left;
}

#popup-div {
  width: 200px;
  font-size: 1.3em;
}
